extends layout.pug

block content
     nav.grid-container.portfolio-breadcrumb
        a(href='/') â† Back
     article.error-container
        .error
            h1=err.message
            p=`Error with status code ${err.status} ${err.code}!`
            pre=err.stack